@font-face {
    font-family: 'Milkshake';
    src: url('Milkshake.otf');
    font-family: 'Baloo';
    src: url('Baloo-Regular.ttf');
    font-family: 'Lato';
    src: url('Lato-Regular.ttf');
}


#slide1 {   /*css 1ere slide */
  margin:0;
  padding-top:50px;  /* permet de descendre le titre */
  width: 100%;
  height: 1200px;
  background: url(image/black.jpg) no-repeat center 0 fixed; 
  background-size: cover; /* version standardisée */
  color: #FFFFFF;
  text-align: center;
  animation: fadein 5s;
}
#slide2 { /*css 2em slide */
  margin:0;
  padding:0;
  width: 100%;
  height: 1290px;
  background: url(image/code.jpg) no-repeat center 0 fixed; 
  background-size: cover; /* version standardisée */
  color: #EF5959;
  font-weight: bold;
  text-align: center;
  animation: fadein 5s;
}
#slide3 {  /*css 3em slide */
  margin:0;
  padding:0;
  width:100%;
  height: 1150px; 
  background: url(image/3d.jpg) no-repeat center 0 fixed; 
  background-size: cover; /* version standardisée */
  color: #D33030;
  text-align: center;
  animation: fadein 5s;
}

#slide4 {  /*css 3em slide */
  margin:0;
  padding:0;
  width:100%;
  height: 1290px; 
  background: url(image/projet.jpg) no-repeat center 0 fixed; 
  background-size: cover; /* version standardisée */
  color: #EB0000;
  text-align: center;
  animation: fadein 5s;
}

#slide6 {  /*css 3em slide */
  margin:0;
  padding:0;
  width:100%;
  height: 1290px; 
  background: url(image/Reco.jpg) no-repeat center 0 fixed; 
  background-size: cover; /* version standardisée */
  color: #EF5959;
  text-align: center;
  animation: fadein 5s;
}
#slide7 {  /*css 3em slide */
  margin:0;
  padding:0;
  width:100%;
  height: 850px; 
  background: url(image/Server.jpg) no-repeat center 0 fixed; 
  background-size: cover; /* version standardisée */
  color: #FFFFFF;
  text-align: center;
  animation: fadein 5s;
}


@keyframes fadein {
   from {
     opacity:0;
    }
    to {
        opacity:1;
    }

