@font-face {
	font-family: 'Abril';
	src: url('AbrilFatface-Regular.otf');
	font-family: 'Jaapokki';
	src: url('Jaapokki-Regular.otf');
}

/*slide 1*/
#monlogo { /* mon logo à gauche */
	height: 20%;
	width: 20%;
	max-height: 350px;
	max-width: 350px;
}
#pplinkedin { /* ma photo de profil linkedin au centre*/
	height: 16%; 
	width: 16%; 
	margin-right: 60px; 
	margin-left: 30px;
	max-height: 300px;
	max-width: 300px;
}
#logoecole { /*logo de l'école remaster à ma facon */
	height: 16%; 
	width: 16%;
	max-height: 300px;
	max-width: 300px;
}
#phraseIntro { /*phrase sous les 3 photos */
	font-size: 40px;
	font-family: "Jaapokki";
}
#Presentation{ /*le mot présentation */
	font-size: 60px; 
	padding-top: 40px;
	font-family: "Jaapokki";
}
#phraseBienvenue { /* je dis bienvenue */
	padding-top: 30px;
	font-size: 25px;
	font-family: "Jaapokki";
}
#phrasePresentation { /*je me présente ( je m'appelle Henri )*/
	padding-top: 20px;
	font-size: 25px;
	font-family: 'Jaapokki';
}
#objectifFuturs { /*je dis mes objectifs post-études*/
	padding-top: 20px;
	font-size: 25px;
	font-family: 'Jaapokki';	
}

/* slide 2*/

#Compétences { /*le mot compétences*/
	padding-top: 75px;
	font-size: 60px;
}
#softskills {
	margin: auto;
	width: 45%;
	height: 45%;
	padding-top: 175px;
	opacity: 0.92;
	max-width: 802px;
	max-height: 1200px;

}
#genie {
	margin: auto;
	width: 65%;
	height: 65%;
	padding-top: 75px;
	max-width: 1437px;
	max-height: 958px;
}

/* slide 3 */

#Hobbies { /*le mot Hobbies */
	font-size: 60px;
	padding-top: 75px;
}
#natationpng { /*l'image de natation */
	width: 20%; 
	height: 25%; 
	margin: auto;
	padding-top: 25px;
	padding-bottom: 100px;
	max-height: 400px;
	max-width: 600px;
}
#manga {
	width: 28%;
	height: 28%;
	padding-bottom: 80px;
	margin-left: 50px;
	margin-right: 50px;
	max-width: 540px;
	max-height: 400px;
}
#muscupng { /* l'image de muscu */
	width: 25%; 
	height: 24%; 
	margin: auto;
	padding-bottom: 80px;
	max-width: 440px;
	max-height: 400px;
}
#f1png { /* l'image de f1 */
	width: 30%; 
	height: 40%; 
	margin: auto;
	max-width: 500px;
	max-height: 600px;
}
#karatepng { /*l'image de karaté */ 
	width: 19%;
	height: 17%;
	margin:auto;
	margin-left: 50px;
	margin-right: 50px;
	max-width: 440px;
	max-height: 400px;
}
#gamingpng { /* l'image de gaming */
	width: 25%; 
	height: 14%; 
	margin: auto;
	max-width: 440px;
	max-height: 400px;
}

/* slide 4 */

#Projets { /* le mot Projets*/
	font-size: 60px;
	padding-top: 75px;
}
#comingsoonpng { /* en attendant d'avoir des projets */
	padding-top: 100px;
	width: 80%;
	height: 80%;
	max-height: 1000px;
	max-width: 1400px;
}
/* slide 6 */

#Recommandations { /* le mot Recommandations */
	font-size: 60px;
	padding-top: 75px;
}

/* slide 7 */
#Contact { /* le mot Contact */
	font-size: 60px;
	padding-top: 75px;
	padding-bottom: 50px;
}
.infoFormulaire {
	font-size: 30px;
}
#goodbyepng { /* l'image du au revoir à la fin */
	width: 50%;
	height: 50%;
	margin: 30px;
	max-height: 300px;
	max-width: 600px;
}
. {
      width: 30%;
      height: 30%;
      margin: auto;
      padding-top: 75px;
  }

#phraseQuestionnaire {
	color: white;
	
}
.form-group {
	color: black;
}
#btnContact {
	padding-top: 10px;
	padding-bottom: 10px;
}
